* {
  margin: 0;
  padding: 0;
}

.index {
  background-color: #F0EBCC;
  color: black;
  font-family: sans-serif;
  background-image: url(../imagenes/fondo2.jpg);
  background-repeat: repeat;
}

.contenedor {
  width: 100%;
  max-width: 1440px;
  margin: 5px auto;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, auto);
  grid-template-areas: "contacto contacto contacto" "header header header" "contenedor1 contenedor1 contenedor1" "contenedor2 contenedor2 contenedor2" "contenedor3 contenedor3 contenedor3" "caja1 caja2 caja3" "caja1 caja2 caja3" "caja1 caja2 caja3" "footer footer footer";
}

.contenedor > div,
.header,
.contenedor1,
.contenedor2,
.contenedor3,
.caja1,
.caja2,
.footer {
  padding: 20px;
  border-radius: 4px;
  background-color: #F0EBCC;
}

.contenedor .contacto {
  grid-area: contacto;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contenedor .header {
  grid-area: header;
  background-image: linear-gradient(#999393, #7c7979, #1c1cc0);
  position: relative;
  z-index: 100;
}
.contenedor .header .logoo {
  text-align: center;
}
.contenedor .header .logo {
  width: 320px;
  height: 80px;
}
.contenedor .header .ulheader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
.contenedor .header .li-header {
  list-style: none;
}
.contenedor .header .navbar {
  color: #000;
}
.contenedor .contenedor1 {
  grid-area: contenedor1;
  background-image: linear-gradient(#2e2eaf, #b4852d);
}
.contenedor .contenedor1 .titulo {
  text-align: center;
}
.contenedor .contenedor1 .parrafo1 {
  margin-top: 20px;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
  font-family: cursive;
}
.contenedor .contenedor2 {
  grid-area: contenedor2;
  background-image: linear-gradient(#b6862d, #4682b4);
}
.contenedor .contenedor2 .titulo2 {
  text-align: center;
  margin: 1rem;
}
.contenedor .contenedor2 .image1 {
  display: float;
  width: 420px;
  height: 275px;
  margin-left: 2rem;
}
.contenedor .contenedor3 {
  grid-area: contenedor3;
  background-image: linear-gradient(#4682b4, #808080);
}
.contenedor .contenedor3 .titulo3 {
  text-align: center;
  color: rgba(37, 45, 61, 0.5960784314);
}
.contenedor .caja1 {
  grid-area: caja1;
  background-image: linear-gradient(#808080, #ffffff);
}
.contenedor .caja2 {
  grid-area: caja2;
  background-image: linear-gradient(#808080, #ffffff);
}
.contenedor .caja3 {
  grid-area: caja3;
  background-image: linear-gradient(#808080, #ffffff);
}
.contenedor .img {
  text-align: center;
}
.contenedor .imagecaja {
  width: 300px;
  height: 200px;
  border-radius: 1rem;
}
.contenedor .titulo-caja {
  text-align: start;
  font-size: 2rem;
  margin-top: 1.5rem;
}
.contenedor .p-caja {
  font-size: large;
  font-family: initial;
  color: #242527;
  text-align: center;
}
.contenedor .ul-caja {
  text-align: start;
  padding: 1rem;
}
.contenedor li {
  margin: 1rem;
  font-size: large;
  text-align: start;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  list-style: circle;
}
.contenedor .boton {
  text-align: center;
}
.contenedor .footer {
  grid-area: footer;
  background-image: linear-gradient(#ffffff, #000);
}
.contenedor .footer .alineartexto {
  text-align: center;
}
.contenedor .footer .ul-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contenedor .footer .li-footer {
  list-style: none;
}

@media (max-width: 600px) {
  .index {
    background-color: #F0EBCC;
    color: black;
    font-family: sans-serif;
    background-image: url(../imagenes/fondo2.jpg);
    background-repeat: repeat;
  }

  .contenedor {
    grid-template-areas: "contacto contacto contacto" "header header header" "contenedor1 contenedor1 contenedor1" "contenedor2 contenedor2 contenedor2" "contenedor3 contenedor3 contenedor3" "caja1 caja1 caja1" "caja2 caja2 caja2" "caja3 caja3 caja3" "footer footer footer";
  }

  .logo {
    width: 270px;
    height: 70px;
  }

  .ulheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  .parrafo1 {
    margin-top: 10px;
    -moz-column-count: 1;
    -moz-column-gap: 10px;
    -webkit-column-count: 1;
    -webkit-column-gap: 10px;
    column-count: 1;
    column-gap: 10px;
    font-family: cursive;
  }

  .image1 {
    display: float;
    width: 280px;
    height: 120px;
    margin: auto;
  }

  .imagecaja {
    width: 150px;
    height: 100px;
    border-radius: 1rem;
  }
}