.footer{
    grid-area: footer;
    background-image: linear-gradient(#ffffff,#000);

    & .alineartexto{
        text-align: center;
      }
      & .ul-footer{
        display: flex;
        justify-content: space-around;
        align-items: center; 
      }
      & .li-footer{
        list-style: none;
      }
  }