* {
    margin: 0;
    padding: 0;
}
.index {
    background-color: $color1;
    color: $colortexto;
    font-family: sans-serif;
    background-image: url(../imagenes/fondo2.jpg);
    background-repeat: repeat;
}