
 .contenedor1{
  grid-area: contenedor1;
  background-image: linear-gradient(#2e2eaf,#b4852d);

  .titulo{
      text-align: center;
    }
  .parrafo1{
      margin-top: 20px;
      -moz-column-count: 3;
      -moz-column-gap: 20px;
      -webkit-column-count: 3;
      -webkit-column-gap: 20px;
      column-count: 3;
      column-gap: 20px;
      font-family: cursive;
    }
}     
