$color3 : #252d3d98;

.contenedor3{
    grid-area: contenedor3;
    background-image: linear-gradient(#4682b4,#808080);

    .titulo3{
        text-align: center;
        color: $color3;
        font-size: 2rem;
    }
  }
   
