$colortexto : #000000; 
$color2 : #ffffff;


.footer{
    grid-area: footer;
    background-image: linear-gradient($color2,$colortexto);

    .alineartexto{
        text-align: center;
      }
    .ul-footer{
        display: flex;
        justify-content: space-around;
        align-items: center; 
      }
    .li-footer{
        list-style: none;
      }
  }

  
 

 