$backgr-color : #999393,#7c7979,#1c1cc0;
$colortexto : #000000; 



  .header{
    grid-area: header;
    background-image: linear-gradient($backgr-color);
    position: relative;
    z-index: 100;
    .logoo{
        text-align: center;
      }
    .logo{
      width: 320px;
      height: 80px;
     }
    .ulheader{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
      }
    .li-header{
        list-style: none;
      }
    .navbar{
        color: $colortexto;
      }  
  }

