$color1 : #F0EBCC;
$color2 : #ffffff;
$color3 : #252d3d98;
$backgr-color : #999393,#7c7979,#1c1cc0;
$colortexto : #000000; 
$colorcajas : #808080,#ffffff;
$backgr-pagina1 : #87805E, #B09B71 ,#D8CCA3,#EDDFB3;
$color-red : #a10909;
$color-red-1 :#e40000;
$backgr-pagina2 : #C7D36F,#FCF9C6,#E0DECA,#9EB23B;
$color-blue : #1c1cc0;
$color-grey : #7c7979;
$color-fucsia : #ff00c8;
$backgr-pagina3 : #e0ddda,#2C3639,#2C3639;
$color-marron : #b14405;
