@use 'body';
@use 'grid';
@use 'contacto';
@use 'header';
@use 'contenedor';
@use 'contenedor1';
@use 'contenedor2';
@use 'cajas';
@use 'footer';


@media (max-width:600px) {
  .index {
    background-color: #F0EBCC;
    color: black;
    font-family: sans-serif;
    background-image: url(../imagenes/fondo2.jpg);
    background-repeat: repeat;
    .contenedor{
     
      grid-template-areas:"contacto contacto contacto" "header header header" "contenedor1 contenedor1 contenedor1""contenedor2 contenedor2 contenedor2""contenedor3 contenedor3 contenedor3""caja1 caja1 caja1""caja2 caja2 caja2""caja3 caja3 caja3""footer footer footer";
                        
      .logo{
        width: 270px;
        height: 70px;
      }
      .ulheader{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 10px;
      }
      .parrafo1{
        margin-top: 10px;
      -moz-column-count: 1;
      -moz-column-gap: 10px;
      -webkit-column-count: 1;
      -webkit-column-gap: 10px;
      column-count: 1;
      column-gap: 10px;
      font-family: cursive;
      }
      .image1{
        display: float;
        width: 280px;
        height: 120px;
        margin: auto;
      }
      .imagecaja{
        width: 150px;
        height: 100px;
        border-radius: 1rem;
      }                  
  }
  }
}
 /*COMIENZA LA PAGINA GRAFICOS*/
 .pagina-graficos{
  background-image:linear-gradient(#87805E, #B09B71 ,#D8CCA3,#EDDFB3) ;
}
  .contenedorA {
    width: 100%;
    max-width: 1440px;
    margin:5px auto;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, auto);
    grid-template-areas:"contacto contacto contacto"
                        "header header header" 
                        "contenedor1 contenedor1 contenedor1"
                        "contenedor2-graficos contenedor2-graficos contenedor2-graficos"
                        "footer footer footer";
}
.contenedorA > div,
.contenedorA .header,
.contenedorA .contenedor1,
.contenedorA .contenedor2-graficos,
.contenedorA .footer{
    padding: 20px;
    border-radius: 4px;
    
}
.contenedorA .contacto{
  grid-area: contacto;
  background-color: black;
  color: white;
}
.contenedorA .header{
  grid-area: header;
  position: relative;
  z-index: 100;
  background-image: none;
}
.header{
  position: relative;
  z-index: 100;
  & .logoo{
      text-align: center;
    }
   & .logo{
    width: 320px;
    height: 80px;
   }
   & .ulheader{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style: none;
    }
   & .li-header{
      list-style: none;
    }
   & .navbar{
      color: #000;
    }
}
.contenedorA .contenedor1{
  grid-area: contenedor1;
  background-image: none;

}
.contenedorA .contenedor2-graficos{
  grid-area: contenedor2-graficos;

}
.contenedorA .footer{
  grid-area: footer;
  background-image: none;
}
  
  .titulo-graficos{
    text-align: start;
    font-size: 3rem;
    font-family: cursive;
    color: #e6d6d6;
  }
  .parrafo-graficos{
    margin-top: 10px;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
    font-weight: bold;
  }
  .imagen1-graficos{
    margin-top: 30px;
    border-radius: 0.5rem;
  }
  .titulo1-graficos{
    font-size: 3rem;
    text-align: center;
    font-family: cursive;
    color: #a10909;
    margin: 1em;

  }

  /* COMIENZA GRID DE LA PARTE ASIDE*/
  .contenedorx {
    width: 100%;
    max-width: 1440px;
    margin:5px auto;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "t-tarjetas t-tarjetas imga"
                         "card-text card-text imga"
                         "card-text card-text imga";
}

.contenedorx > div,
.contenedorx .card-text,
.contenedorx .imga{  
      border-radius: 4px;
   
  }
  .contenedorx .t-tarjetas{
    grid-area: t-tarjetas;
    height: 6vh;
  }
  .contenedorx .card-text{
    grid-area: card-text;
  }
  .contenedorx .text-muted{
    grid-area: text-muted;
  }
  .contenedorx .imga{
    grid-area: imga;
  }

  .contenedorxy { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "imga t-tarjetas t-tarjetas"
                         "imga card-text card-text"
                         "imga card-text card-text";
}

.contenedorxy > div,
.contenedorxy .card-text,
.contenedorxy .imga{
      padding: 20px;
      border-radius: 4px;
      background-image: none;
  }
  .contenedorxy .t-tarjetas{
    grid-area: t-tarjetas;
    height: 6vh;
  }
  .contenedorxy .card-text{
    grid-area: card-text;
  }
  .contenedorxy .text-muted{
    grid-area: text-muted;
  }
  .contenedorxy .imga{
    grid-area: imga;
 }
 /* TERMINA GRID DE LA PARTE ASIDE*/
  .cardgraf{
    display: flex;
  }
  .titulo2{
    font-size: 2rem;
    color: rgb(2, 2, 2);
    align-items: center;
  }
  .card-text{
    font-size: 1.45rem;
    color: #101312;
    text-align: center;
    margin: auto;
  }
  .imga{
    text-align: end;
  }
  .card{
    width: 680px;
    border-radius: 0.5em;
  }

  @media (max-width:600px) {
    .contenedorA{
      
      grid-template-areas:"contacto contacto contacto"
                        "header header header" 
                        "contenedor1 contenedor1 contenedor1"
                        "contenedor2-graficos contenedor2-graficos contenedor2-graficos"
                        "footer footer footer";
                       
      .ulheader{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
    } 
    .logo{
      width: 270px;
      height: 70px;
    }
    .titulo-graficos{
      font-size: 1.55rem;
    }
    .parrafo-graficos{
      margin-top: 10px;
      -moz-column-count: 1;
      -moz-column-gap: 10px;
      -webkit-column-count: 1;
      -webkit-column-gap: 10px;
      column-count: 1;
      column-gap: 10px;
    }
    .imagen1-graficos{
      width: 240px;
      height: 180px;
      margin: 1rem;
    }
    .titulo1-graficos{
      font-size: 1.6rem;
      color: #e40000;
      margin-top: 1px;
    }
    .contenedorx{ 
    grid-template-areas: "t-tarjetas t-tarjetas t-tarjetas"
                         "card-text card-text card-text"
                         "imga imga imga";
  }
  .contenedorxy{ 
    grid-template-areas: "t-tarjetas t-tarjetas t-tarjetas"
                         "card-text card-text card-text"
                         "imga imga imga";
  }
  .titulo2{
    margin: auto;
    font-size: 1.2rem;
    
  }
  .card-text{
    font-size: 0.85rem;
  }
  .card{
    width: 280px;
    height: 160px; 
    
  }
 
  .imga{
    text-align: center;
  }
  }
  }                    

  /*COMIENZA LA PAGINA CURSOS*/
.pagina-cursos{
  background-image: linear-gradient(#C7D36F,#FCF9C6,#E0DECA,#9EB23B);
}
.contenedorB {
  width: 100%;
  max-width: 1440px;
  margin:5px auto;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, auto);
  grid-template-areas:"contacto contacto contacto"
                      "header header header" 
                      "contenedor1 contenedor1 contenedor1"
                      "contenedor2 contenedor2 contenedor2"
                      "caja1 caja2 caja3"
                      "caja1 caja2 caja3"
                      "caja1 caja2 caja3"
                      "footer footer footer";
}
.contenedorB > div,
.contenedorB .header,
.contenedorB .contenedor1,
.contenedorB .contenedor2,
.contenedorB .caja1,
.contenedorB .caja2,
.contenedorB .caja3,
.contenedorB .footer{
  padding: 20px;
  border-radius: 4px;
}

.contenedorB .contacto{
  grid-area: contacto;
}
.contenedorB .header{
  grid-area: header;
  background-image: none;
}
.contenedorB .contenedor1{
  grid-area: contenedor1;
  background-image: none;
}
.contenedorB .contenedor2{
  grid-area: contenedor2;
  background-image: none;
}
.contenedorB .caja1{
  grid-area: caja1;
  
}
.contenedorB .caja2{
  grid-area: caja2;
}
.contenedorB .caja3{
  grid-area: caja3;
}
.contenedorB .footer{
  grid-area: footer;
}

.pgraf{
  text-align: start;
  font-size: 2rem;
  font-family: cursive;
  color: #1c1cc0;
}
.imagencursos{
  text-align: center;
}
.imagecursos{
  width: 800px;
  height: 400px;
  border-radius: 1em;
  margin: 2rem;
}
.titulo-cursos{
  font-size: 2rem;
  margin: 1rem;
  color: #7c7979;
}
.parrafocursos{
  margin-top: 10px;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  column-count: 3;
  column-gap: 10px;
  font-weight: bold;
  font-family: cursive;
}
.titulo1-cursos{
  font-size: 2rem;
  color: #1d009e;
}
h5{
  font-size: 1.5rem;
  color: #ff00c8;
}
.btn{
  font-size: 1.2rem;
  margin-left: 3rem;
}

@media (max-width:600px) {
  .contenedorB{
    grid-template-areas:"contacto contacto contacto" "header header header"  "contenedor1 contenedor1 contenedor1" "contenedor2 contenedor2 contenedor2""caja1 caja1 caja1""caja2 caja2 caja2""caja3 caja3 caja3" "footer footer footer";
  .footer{
    background-image: none;
  }
  .ulheader{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 10px;
  } 
  .logo{
    width: 270px;
    height: 70px;
  }
  .pgraf{
      font-size: 1rem;
      color: #000;
    }
  .imagencursos{
      text-align: start;
    }
  .imagecursos{
      width: 240px;
      height: 150px;
    }
  .titulo-cursos{
      font-size: 1rem;
    }
  .parrafocursos{
      margin-top: 10px;
      -moz-column-count: 2;
      -moz-column-gap: 10px;
      -webkit-column-count: 1;
      -webkit-column-gap: 10px;
      column-count: 1;
      column-gap: 10px;
      font-weight: bold;
      font-family: cursive;
      color: rgb(109, 109, 109);
    }
  }
 
 }

/*COMIENZA LA PAGINA FORO*/

.foro{
  background-image: linear-gradient(#e0ddda,#2C3639,#2C3639);
 }

 h6{
  font-size: 2rem;
  color: #1c1cc0;
 }
 
 @media (max-width:600px) {
  h6{
    font-size: 1rem;
  }
 }

 /*COMIENZA LA PAGINA CONTACTO*/
 .contact{
  background-image: linear-gradient(#e0ddda,#2C3639,#2C3639);
 }

 .contenedorC {
  width: 100%;
  max-width: 1440px;
  margin:5px auto;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, auto);
  grid-template-areas:"contacto contacto contacto"
                      "header header header" 
                      "contenedor1 contenedor1 contenedor2"
                      "contenedor1 contenedor1 contenedor2"
                      "footer footer footer";
}
.contenedorC > div,
.contenedorC .header,
.contenedorC .contenedor1,
.contenedorC .contenedor2,
.contenedorC .footer{
  padding: 20px;
  border-radius: 4px;
}

.contenedorC .contacto{
  grid-area: contacto;
 
}
.contenedorC .header{
  grid-area: header;
  background-image: none;
}
.contenedorC .contenedor1{
  grid-area: contenedor1;
  background-image: none;
}
.contenedorC .contenedor2{
  grid-area: contenedor2;
}
.contenedorC .footer{
  grid-area: footer;
}
.index-contacto{
  color: #ffffff;
}
.titulo-contact{
  color: #0d1ce2;
  margin: 1rem;
}
.idpadron{
  color: #ffffff;
}
legend{
  color: #e7c6c6;
  margin-top: 2rem;
  font-size: 1.5rem;
}
label{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

@media (max-width:600px) {
  .contenedorC {
    grid-template-areas:"contacto contacto contacto""header header header" "contenedor1 contenedor1 contenedor1""contenedor2 contenedor2 contenedor2""footer footer footer";
    .ulheader{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 10px;
  } 
  .logo{
    width: 270px;
    height: 70px;
  }
  textarea{
   width: 280px;
  }
  }
 }